/***** BASE STYLES *****/

body code {
    font-family: 'Source Sans Pro', sans-serif;
}



/***** GRID *****/

.container {
    /*width: 1200px;*/
    margin: 0 auto;
    padding-right: -30px;
}

.col-xs-6 .col-sm-6 .col-md-6 {
    /*width: 600px;*/
    float: left;
}

.col-xs-4 .col-sm-4 .col-md-4 {
    /*width: 400px;*/
    float: left;
}

/* Media queries in our Less files to create the key breakpoints in our grid system
@screen-xs-max: auto;
@screen-sm-max: 750px;
@screen-md-max: 970px; */

/* Extra small devices (phones, less than 768px) */
@media (max-width: auto) { 

} 
/* Small devices (tablets, 768px and up) */
@media (min-width: 750px) and (max-width:970px) { 
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 970px) and (max-width: 1080px) { 
 }




/***** HEADER SECTION *****/

header {
    height: 800px;
    /*flex:1;*/
    background: url('../img/hero.png');
    background-size: cover;

}

header h1 {
    padding: 50px 0;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 30px;
    color: #bbc085;

}

nav {
    float: right;
    padding: 27px 40px;

}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    padding-left: 40px;
}
header h2 {
    clear: both;
    font-family: 'Lora', serif;
    font-size: 36px;
    line-height: 50px;
    color: #9a9b9b;
    padding: 20px 0;
    font-weight: bold;

}
header h2 span {
    color: #2b2b2b;
}

h4{
    font-weight: bold;
}

/***** ABOUT SECTION *****/


code #about h2 {
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 36px;
    color: #2b2b2b;
}

code #about p {
    font-size: 1.5em;
    color: #7F7F7F;
    line-height: 1.5em;
}

/***** WORK SECTION *****/

code #work{
    background-color: #f9ceb7;
    text-align: center;
}


code #work img {
    padding-left: 36%;
    padding-top: 6%;
    padding-bottom: 4%;
}

code #work h3 {
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0;
    color: #2b2b2b;
    padding-right: 26px;
}

code #work p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 20px;
    color: #2b2b2b;
    padding: 0 35px;
}

/***** CONTACT SECTION *****/

 #contact{
    background-color: #ebebeb;
}

 #contact .container {
    padding: 110px 0;
}

 #contact-img {
    border: 12px solid #ffffff;

}

 #contact h2, #email-header, #socialmedia-header, #contact ul {
   padding-left: 8%;
   padding-right: 8%;
}

 #contact h2 {
    font-family: 'Lora', serif;
    font-weight: bold;
    color: #2b2b2b;
    font-size: 36px;
}

 #email-header{
    font-size: 30px;
    color:#2b2b2b;
    font-weight: normal;
    margin: 0px 0 5px 0;
}

 #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    color: #2b2b2b;
    margin: 40px 0 0 0;
}

 #contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 20px;
}

 #contact ul {
    list-style: none;
}

 #contact ul li {
     display: inline-block;
}

 #contact ul img {
    padding-right: 48px;
    padding-top: 14%;
}

 #envelope {
  /*margin-left: -31%;*/
  padding: 0 96px; 
}
